html {
    background-image: url(nacho\ background.jpg);
}

body {
    background-color: rgba(34, 71, 39, 0.7);
    width: 1000px;
    margin: 25px auto;
    text-align: center;
    padding: 50px 0;
    border-radius: 25px;
}

table, th, td {
    border:1px solid rgb(0, 0, 0);
    margin: auto;
    border-radius: 10px;
}

#order {
    background-color: lightgreen;
    width: 300px;
    margin: auto;
    border-radius: 5px;
}


#D {
    background-color: lightgreen;
    width: 300px;
    border-radius: 5px;
}

#F {
    background-color: lightgreen;
    width: 300px;
    border-radius: 5px;
}

.Money {
    background-color: green;
}

/* FEEDBACK */
/*  */
